<div class="panel">
    <div class="panel__side">
        <img width="200" height="200" src="../../../../../assets//profile.svg">

        <div class="side__text">
            <span>{{authService.getUsername()}}</span>

            <span class="category">Free User</span>
        </div>
    </div>

    <div class="panel__side">
        <div class="panel__info">
            <span>First Name: </span>
            <span> Not set</span>
        </div>

        <div class="panel__info">
            <span>Last Name: </span>
            <span> Not set</span>
        </div>

        <div class="panel__info">
            <span>Company: </span>
            <span>Mindit.io</span>
        </div>

        <div class="panel__info">
            <span>Location: </span>
            <span>Bucharest</span>
        </div>

        <div class="panel__info">
            <span>Interests: </span>
            <span>Technology</span>
        </div>
    </div>
</div>