html,
body {
    height: 100%;
    overflow: hidden;
}

body {
  font-family: 'Rubik';
  background-color: #F2F5F8;
  margin: 0;
}

html {
  background: white;
  min-height: 100%;
  position: relative;
  min-width: 1024px;
}