@import 'common';

:host {
    height: 100%;
    width: 200px;
    max-width: 200px;
    margin: 10px 10px;
    flex: 2;
}

.product-card {
    min-height: 250px;
    .product-card {
        &__image {
            padding: 15px;
            box-sizing: border-box;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 75px;

            h4{ 
                margin:0;
            }

            .content__container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;


            .content__text {
                margin-right: 10px;
                .text__first {
                    margin: 0;
                }

                .text__secondary {
                    color: lightgrey;
                }
            }

            .content__score {
                display: flex;
                align-items: center;
                font-size: 20px;

                .score__dot {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
            }
        }

        &__actions {
            display: flex;
            justify-content: center;
        }
    }
}